<section class="intro" xmlns="http://www.w3.org/1999/html">

  <header>
    <h1>About Poodle</h1>
  </header>

  <div class="row-fluid" class="intro_content">
    <div class="intro_text">
        <p>Poodle is a collaborative online learning platform that allows you to share your knowledge and resources and satisfy your curiosity.</p>
        <p>It was created by students of the Universtiy of Applied Sciences Salzburg, Austria in 2012/2013.</p>

    </div>
  </div>

</section>