<h1>Dashboard</h1>

<h2>Your current courses:</h2>
<% current_user.courses.each do |c| %>
    <%= link_to c.title, course_path(c) %> <br>
<% end  %>

<h2>Courses you created:</h2>
<% CreatesCourse.find_all_by_user_id(current_user.id).each do |cc| %>
    <% c = Course.find(cc.course_id) %>
    <%= link_to c.title, course_path(c) %> <br>
<% end  %>

<h2>Activities</h2>
<% Activity.all.each do |a| %>
    <%= convert_to_message(a)  %> <br>
<% end %>
