<section class="intro">

  <header>
    <h1>Our Team</h1>
  </header>

  <div class="row-fluid intro_content">
    <div class="intro_text">

        <p>Katrin Hewer, Developer</p>

        <p><a href="http://www.sarahhoworka.com/">Sarah Howorka</a>, Developer</p>

        <p>Daniela Schmied, Designer</p>

        <p>Barbara Sterflinger, Designer</p>

    </div>
  </div>

</section>