<section class="intro">

  <header>
    <h1>Our Team</h1>
  </header>

  <div class="row-fluid intro_content">
    <div class="intro_text">

        <p>Katrin Hewer </p>

        <p>Sarah Howorka</p>

        <p>Daniela Schmied     </p>

        <p>Barbara Sterflinger     </p>

    </div>
  </div>

</section>