<li class = "page" id="page_<%= @page.id %>">
 <h2>Page <span class="position"><%= @page.position %></span>:</h2>	 
	 <%= link_to 'Destroy', [ @course, @lesson, @page ], method: :delete, data: { confirm: 'Are you sure?' }, id: "remove_page_link", remote: true %>
   <br /><br />
   <%= link_to 'Add Resource', "/courses/#{@course.id}/lessons/#{@lesson.id}/pages/#{@page.id}/resources/new", id: "add_ressource_link", remote: true %>
</li>
