<span class="position"><%= link.resource.position %></span>. link: <%= link.resource.headline %>
&nbsp;
<%= link_to '(x)', [ @course, @lesson, @page, link.resource ], method: :delete, data: { confirm: 'Are you sure?' }, id: "remove_resource_link", remote: true %>
&nbsp;
<%= link_to '(edit)', "/courses/#{@course.slug}/lessons/#{@lesson.id}/pages/#{@page.id}/links/#{link.id}/edit", id: "edit_link_link", remote: true %>
