var elem = $('#coursedescription')
elem.html("<%= j render :partial => "editDescriptionForm", :locals => { :course => @course } %>");
elem.append("<input type='button' value='cancel' class='cancelbutton'>");
elem.find(".cancelbutton").button().click(function(){
  elem.html("<p><%= @course.description %></p>");
});
