<section class="intro new_course">

  <header>
    <h1>Create a new course</h1>
  </header>

  <div class="intro_content clearfix">

    <div class="intro_text">
      <%= render 'form' %>

    </div>

  </div>

</section>