<span class="position"><%= text.resource.position %></span>. Text: <%= text.resource.headline %>
&nbsp;
<%= link_to '(x)', [ @course, @lesson, @page, text.resource ], method: :delete, data: { confirm: 'Are you sure?' }, id: "remove_resource_link", remote: true %>
&nbsp;
<%= link_to '(edit)', "/courses/#{@course.slug}/lessons/#{@lesson.id}/pages/#{@page.id}/texts/#{text.id}/edit", id: "edit_text_link", remote: true %>
