$('body').append('<div id ="overlay"></div><div id ="overlay_center"><div id ="overlay_content"><%= j render("form") %></div></div>');

var overlay = $("#overlay");
var content = $("#overlay_content");

content.append("<input type='button' value='cancel' class='cancelbutton'>");
content.find(".cancelbutton").button().click(function(){
  overlay.remove();
  $("#overlay_center").remove();
});
